<?xml version='1.0' encoding='utf-8'?>
<widget id="io.accessnetwork.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Access Network</name>
    <description>
        Access Network - Earn cryptocurrency by mining ACCESS tokens. Connect your wallet and start earning today!
    </description>
    <author email="support@access-network.io" href="https://access-network.io">
        Access Network Team
    </author>
    <content src="index.html" />
    
    <!-- Allow access to server API -->
    <access origin="https://access-network.io" />
    <access origin="http://89.167.14.197:3000" />
    <access origin="*" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    
    <!-- Android specific -->
    <platform name="android">
        <icon src="www/access-store-192.png" density="xxxhdpi" />
        <icon src="www/access-store-144.png" density="xxhdpi" />
        <icon src="www/access-store-96.png" density="xhdpi" />
        <icon src="www/access-store-72.png" density="hdpi" />
        <icon src="www/access-store-48.png" density="mdpi" />
        
        <!-- Splash Screen - use our logo -->
        <splash src="www/access-store-512nobg.png" density="land-hdpi" />
        <splash src="www/access-store-512nobg.png" density="land-ldpi" />
        <splash src="www/access-store-512nobg.png" density="land-mdpi" />
        <splash src="www/access-store-512nobg.png" density="land-xhdpi" />
        <splash src="www/access-store-512nobg.png" density="land-xxhdpi" />
        <splash src="www/access-store-512nobg.png" density="land-xxxhdpi" />
        <splash src="www/access-store-512nobg.png" density="port-hdpi" />
        <splash src="www/access-store-512nobg.png" density="port-ldpi" />
        <splash src="www/access-store-512nobg.png" density="port-mdpi" />
        <splash src="www/access-store-512nobg.png" density="port-xhdpi" />
        <splash src="www/access-store-512nobg.png" density="port-xxhdpi" />
        <splash src="www/access-store-512nobg.png" density="port-xxxhdpi" />
        
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="33" />
        <preference name="android-compileSdkVersion" value="33" />
        <preference name="AndroidXAppCompatVersion" value="1.6.1" />
        
        <!-- ✅ CRITICAL: Allow HTTP traffic (cleartext) for API server -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config" />
        </edit-config>
        <resource-file src="res/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
    </platform>
    
    <!-- Preferences -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff1a1a2e" />
    <preference name="StatusBarBackgroundColor" value="#1a1a2e" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    
    <!-- ✅ CRITICAL: Use HTTP scheme to allow mixed content -->
    <preference name="scheme" value="http" />
    <preference name="hostname" value="localhost" />
    <preference name="MixedContentMode" value="0" />
    <preference name="AllowInsecureLocalhost" value="true" />
    
    <!-- Splash Screen Settings -->
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    
    <!-- Google Sign-In Plugin - Web Client ID (required for Android) -->
    <plugin name="cordova-plugin-googleplus" spec="^8.5.2">
        <variable name="WEB_APPLICATION_CLIENT_ID" value="586936149662-ja0tlfjfinl2sl17j9ntp3m1avnf3dhn.apps.googleusercontent.com" />
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.586936149662-ja0tlfjfinl2sl17j9ntp3m1avnf3dhn" />
    </plugin>
    
    <!-- ✅ StatusBar Plugin -->
    <plugin name="cordova-plugin-statusbar" spec="^4.0.0" />
    
    <!-- ✅ Camera Plugin -->
    <plugin name="cordova-plugin-camera" spec="^8.0.0" />
    
    <!-- ✅ Clipboard Plugin -->
    <plugin name="cordova-clipboard" spec="^1.3.0" />
    
    <!-- ✅ Local Notifications Plugin -->
    <plugin name="cordova-plugin-local-notification" spec="^1.2.3" />
</widget>
